/* def police d'écriture */
@font-face
{
    font-family: 'ParkLaneNF';
    src: url('font/Park Lane NF.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;

    font-family: 'Dayrom';
    src: url('font/Dayrom.eot');
    src: url('font/Dayrom.eot?#iefix') format('embedded-opentype'),
         url('font/Dayrom.woff') format('woff'),
         url('font/Dayrom.ttf') format('truetype'),
         url('font/Dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Eléments principaux*/
a
{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
p
{
     margin: 0;
}
body
{
    background-size: 100%;
    font-style: normal;
    font-family: 'Park Lane NF', 'Dayrom', 'sans-serif';
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: rgb(255, 232, 168);
    max-width: 2630px;
    max-height: 2000px;
}
#bloc_page
{
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
h1, h3
{
     font-family: 'Park Lane NF';
     margin: auto;
     color: blue;
}
#presentation h2
{
    text-align: center;
    margin-left: 0px;
    font-family: 'Park Lane NF';
    margin-top: 50px;
}
#chapitre1
{
     margin-top: Opx;
}

/*Menu deroulant*/

nav
{
     display: flex;
     flex-direction: row-reverse;
}

li
{
    font-family: Park Lane NF;
    font-size: 40px;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li
{
    padding: 0;
    margin: 0;
    display: inline-block;
    justify-content: space-between;
}
nav ul li a:hover
{
    background-color: blue;
    opacity: 1;
    color: white;
}

nav ul li ul li
{
    display: none;
}
nav ul li:hover ul li
{
    display: block;
}
/*Menu deroulant*/

/*1er bloc*/

#enter
{
    font-weight:normal;
    font-family: "cursive", "sans-serif";
    font-size: 30px;
}

section
{
    font-family: "cursive", "sans-serif";
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
aside
{
    font-style: normal;
    font-family: "cursive", "sans-serif";
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    display: block;
    margin-top: 30px;
}

/*l'enseigne*/

#enseigne > img
{
    max-height: 250px;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 0px;
}


/*photos+legend*/

img
{
     margin-left: 10px;
     margin-bottom: 20px;
}

#presentation
{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-family: cursive;
    margin-left: 0px;
    margin-right: 0px;
}
#presentation a img
{
    display: revert;
}


/*banniere*/

.image_responsive {
width: 50%;
height: auto;
box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 27px;

}


/*fin de page*/

footer
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    border: dashed 2px black;
    border-left: none;
    border-bottom: none;
    margin-left: 10px;
    border-right: none;
    font-size: 20px;
}
footer p
{
     margin-top: 25px;
}
footer a
{
     text-decoration: none;
}
#info
{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: stretch;
     justify-content: space-evenly;
     align-items: baseline;
}
#réseaux
{
    margin-bottom: 40px;
}
